{% extends "base/base_layout.html" %}
   {% load static %}
     {% block sidebar_option %}
      sidebar-mini
     {% endblock %}
    {% block extra_css %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "adminlte/plugins/datatables-bs4/dataTables.bootstrap4.min.css" %}">
     <style type="text/css" media="print">
        @page { size: landscape; }
        @media print {
          .btn, #scan_options  {
            display: none;
          }
        }
    </style>
    {% endblock %}
    {% block sidebar %}
    <!-- Main Sidebar Container -->
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">动态分析</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item">
            <a href="#information" class="nav-link">
              <i class="nav-icon fas fa-info-circle"></i>
              <p>
                信息
              </p>
            </a>
          </li>
          {% if apimon %}
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-mobile"></i>
              <p>
                Frida API 监视
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              {% for api, details in apimon.items %}
                <li class="nav-item">
                <a href="#{{ api | slugify }}" class="nav-link">
                  <i class="{{details.0|key:"icon"}} nav-icon"></i>
                  <p>{{api}}</p>
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
            {% endif %}
           <li class="nav-item">
            <a href="#exportedactivitytester" class="nav-link">
              <i class="nav-icon fas fa-shapes"></i>
              <p>
                Exported Activity测试
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#screenshots" class="nav-link">
              <i class="nav-icon fas fa-images"></i>
              <p>
                截图
              </p>
            </a>
          </li>
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-plus"></i>
              <p>
                  链接检测
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#urls" class="nav-link">
                  <i class="fas fa-globe nav-icon"></i>
                  <p>URLs</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#emails" class="nav-link">
                  <i class="fas fa-envelope nav-icon"></i>
                  <p>Emails</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-copy"></i>
              <p>
                文件分析
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#sqlitedb" class="nav-link">
                  <i class="fas fa-database nav-icon"></i>
                  <p>SQLite Database</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#xmlfiles" class="nav-link">
                  <i class="fas fa-file-code nav-icon"></i>
                  <p>XML文件</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#other_files" class="nav-link">
                  <i class="fas fa-file-contract nav-icon"></i>
                  <p>其它文件</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
{% endblock %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
  <!--
    <div class="container-fluid">
      <div class="row mb-2">
        <div id="mobsf_header" align="center">
        </div>
      </div>
    </div>-->
  </div>
  <!-- /.content-header -->


 <!-- Main content -->
<a id="information" class="anchor"></a>
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
                <div class="row">
                <div class="col-12">
                  <p><strong><i class="fas fa-info-circle"></i> 信息</strong></p>
                   <div align="center">
                      <p>
                      {% if apimon %}
                      <a target="_blank" class="btn btn-primary" role="button" href="../live_api/?hash={{ hash }}&amp;package={{ package }}">查看 API Monitor</a>
                      {% endif %}
                      {% if frida_logs %}
                          <a target="_blank" class="btn btn-primary" role="button" href="../frida_logs/?hash={{ hash }}&amp;package={{ package }}">查看 Frida Logs</a>
                      {% endif %}
                      </p>
                      <p>
                      {% if apimon %}
                         <a target="_blank" class="btn btn-primary btn-sm" role="button" href="../download/{{ hash }}-api_monitor.txt">下载 Frida API Monitor Logs</a>
                      {% endif %}
                      {% if frida_logs %}
                         <a target="_blank" class="btn btn-primary btn-sm" role="button" href="../download/{{ hash }}-frida_out.txt">下载Frida Logs</a>
                      {% endif %}
                      <a target="_blank" class="btn btn-primary btn-sm" role="button" href="../download/{{ hash }}-logcat.txt">下载 Logcat Logs</a>
                      <a target="_blank" class="btn btn-primary btn-sm" role="button" href="../download/{{ hash }}-dump.txt">下载 Dumpsys Logs</a> 
                      <a class="btn btn-primary btn-sm" role="button" href="../download/{{ hash }}-app_data.tar">Application Data</a>
                      </p>
                   </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- /.col -->
      <!-- row and container-->
      </div>
  </div>
  </section>
<!-- =========================end information==================================== -->

{% for api, details in apimon.items %}
<a id="{{api | slugify}}" class="anchor"></a>
<section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
              <p><strong><i class="{{details.0|key:"icon"}}"></i> {{api | upper}}</strong></p>
                <div class="table-responsive">
                 <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>CLASS</th>
                      <th>METHOD</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for call in details %}
                        <tr>
                        <td>{{ call|key:"class" }}</td>
                        <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
                            <b>{{ call|key:"method" }}</b>
                            <p> <br /><b><i>Arguments:</i></b> {{ call|key:"arguments" }} </p>
                              {% if call|key:"result" %}
                            <p><b><i>Result: </i></b>{{ call|key:"result"}} </p>
                              {% endif %}
                              {% if call|key:"returnValue" %}
                            <p><b><i>Return Value: </i></b>{{ call|key:"returnValue"}} </p>
                            {% endif %}
                            {% if call|key:"decoded" %}
                              <p> <b><i>Decoded String: </i></b>{{ call|key:"decoded" }} </p>
                            {% endif %}
                            <p> <b><i>Called From: </i></b>{{ call|key:"calledFrom" }} </p>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                </div>
              </div>
            </div><!-- /.card -->
            </div>
            <!-- end row -->
            </div>
        </div>
</section>
{% endfor %}
<!-- ===========================end apimon================================== -->

{% for api, details in droidmon.items %}
<a id="{{api}}" class="anchor"></a>
<section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <p><strong><i class="{{details|key:"icon"}}"></i> {{details|key:"name"}}</strong></p>
                <div class="table-responsive">
                 <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>CLASS</th>
                      <th>METHOD</th>
                    </tr>
                    </thead>
                    <tbody>
                     {% for call in details|key:"calls" %}
                      <tr>
                        <td>{{ call|key:"class" }}</td>
                        <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
                            <b>{{ call|key:"method" }}</b>
                            {% if call|key:"args" %}
                            <br/><p> <b><i>Arguments:</i></b> {{ call|key:"args" }} </p>
                            {% endif %}
                            {% if call|key:"decoded" %}
                              <p> <b><i>Decoded String: </i></b>{{ call|key:"decoded" }} </p>
                            {% endif %}
                              {% if call|key:"return" %}
                              <br/><p><b><i>Return: </i></b>{{ call|key:"return" }} </p>
                              {% endif %}
                        </td>
                     </tr>
                   {% endfor %}
                  </tbody>
                </table>
                </div>
              </div>
            </div><!-- /.card -->
            </div>
            <!-- end row -->
            </div>
        </div>
</section>
{% endfor %}
<!-- ===========================end droidmon================================== -->


<a id="exportedactivitytester" class="anchor"></a>
<section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
              <p>
                <strong><i class="fas fa-shapes"></i> EXPORTED ACTIVITY TESTER</strong>
            </p>
             <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
      
                    {% for img, desc in exported_activity_tester.items %}
                        <tr>
                          <td><img alt="{{desc}}" src="../download/{{ hash }}/screenshots-apk/{{ img }}" class="img-thumbnail" height="300" width="175"></td>
                        <td>{{ desc }}</td>
                        </tr>
                    {% endfor %}
                  </table>
              </div>
          </div>
        </div><!-- /.card -->
        </div>
        <!-- end row -->
        </div>
    </div>

</section>
 <!-- ===========================end exported activity tester ================================== -->
 <a id="screenshots" class="anchor"></a>
 <section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
              <p>
             <strong><i class="fas fa-images"></i> SCREENSHOTS</strong>
             </p>
               <div class="list-group">
                      {% for i in screenshots %}
                        <img alt="Screenshot" src="../download/{{ hash }}/screenshots-apk/{{ i}}" class="img-thumbnail" height="600" width="350">
                      {% endfor %}
              </div>
              
          </div>
        </div><!-- /.card -->
        </div>
        <!-- end row -->
        </div>
    </div>
</section>
 <!-- ===========================end screenshots ================================== -->
 <a id="urls" class="anchor"></a>
<section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
             <p>
             <strong><i class="fas fa-globe"></i> URLS</strong>
             </p>
                {% if urls %} 
                <div class="list-group">
                  {% for f in urls %}
                        {{ f}} <br>
                  {% endfor %}

              {% endif %}
            </div>
          </div>
        </div><!-- /.card -->
        </div>
        <!-- end row -->
    </div>
</section>
 <!-- ===========================end urls ================================== -->
 <a id="emails" class="anchor"></a>
<section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
             <p>
             <strong><i class="fas fa-envelope"></i> EMAILS</strong>
             </p>
                 {% if emails %} 
                <div class="list-group">
                  {% for f in emails %}
                        {{ f}} <br>
                  {% endfor %}

              {% endif %}
          </div>
        </div><!-- /.card -->
        </div>
        <!-- end row -->
        </div>
    </div>
</section>
 <!-- ===========================end emails ================================== -->
<a id="sqlitedb" class="anchor"></a>
<section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
             <p>
             <strong><i class="fas fa-database"></i> SQLITE DATABASE</strong>
             </p>
              <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                     {% for file in sqlite %}
                     <tr><td><a href="../dynamic_view_file/?file={{file|key:"file"}}&amp;hash={{hash}}&amp;type={{file|key:"type"}}">{{file|key:"file"}}</a></td><tr>
                    {% endfor %}
                    </table>
              </div>
          </div>
        </div><!-- /.card -->
        </div>
        <!-- end row -->
        </div>
    </div>
</section>
 <!-- ===========================end sqlite ================================== -->
 <a id="xmlfiles" class="anchor"></a>
<section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
             <p>
             <strong><i class="fas fa-file-code"></i> XML FILES</strong>
             </p>
               <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                     {% for file in xml %}
                     <tr><td><a href="../dynamic_view_file/?file={{file|key:"file"}}&amp;hash={{hash}}&amp;type={{file|key:"type"}}">{{file|key:"file"}}</a></td><tr>
                    {% endfor %}
                    </table>
              </div>
            </div>
          </div>
        </div><!-- /.card -->
        </div>
        <!-- end row -->
        </div>
</section>
 <!-- ===========================end xml files ================================== -->
 <a id="other_files" class="anchor"></a>
<section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
             <p>
             <strong><i class="fas fa-file-contract"></i> OTHER FILES</strong>
             </p>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                     {% for file in others %}
                     <tr><td><a href="../dynamic_view_file/?file={{file|key:"file"}}&amp;hash={{hash}}&amp;type={{file|key:"type"}}">{{file|key:"file"}}</a></td><tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
          </div>
        </div><!-- /.card -->
        </div>
        <!-- end row -->
        </div>
</section>
 <!-- ===========================end other files ================================== -->
<!-- end of contents -->
</div>
{% endblock %}
<!--end new UI-->
{% block extra_scripts %}
<!-- DataTables -->
<script src="{% static "adminlte/plugins/datatables/jquery.dataTables.min.js" %} "></script>
<script src="{% static "adminlte/plugins/datatables-bs4/dataTables.bootstrap4.min.js" %}"></script>
<script>
  $(function () {
    // Datatable
    $('table').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": true,
    });
  });
  // Navbar Active
    $(".nav-link").on("click", function() {
    $(".nav-link").removeClass("active");
    $(this).addClass("active");
  });
</script>
<script>
  </script>
{% endblock %}